
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.flexCol { display: flex; flex: none; flex-direction: column; width: 100%; }
.flexRow { display: flex; flex: none; width: 100%; }
.flexAuto { display: flex; flex: none; min-width: 1px; }
.flexMinWidth { display: flex; flex: 1; min-width: 0; }
.flexMinWidthCol { display: flex; flex-direction: column; flex: 1; min-width: 0;}
.flexMinHeight { display: flex; flex-direction: column; flex: 1; min-height: 0; }
.flexWrap { flex-wrap: wrap; display: flex; width: 100%; }
.flexInline { display: flex; flex: none; }


.alignCntr { align-items: center; }
.justifyCntr { justify-content: center; }
.txtCntr { text-align: center; }



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
